body {
  background-color: #F2F2F2;
  font-size: 1.2em;
  line-height: 1.5;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.main {
    margin: 0 auto; /* 居中 */
    padding-bottom: 50px;
    margin-top: 30px;
    width: 100%;
    max-width: 60em;
}

.main-inner {
    width: 100%;
    margin-top: unset;
}

.header {
    margin: 0 auto; /* 居中 */
    border-bottom: unset;
    width: 90%;
}

body {
    background-image: unset;
    background-attachment: unset;
    background-size: 100%;
}

.menu .menu-item a {
    font-weight: 300;
    color: #555;
}

.page-post-detail .post-meta {
    display: none;
}

@media (max-width: 767px) {
    .box li {
        width: 100%;
    }

    .title {
        height: 200px;
    }

    .box span {
        min-height: 80px;
        border-right: unset;
        font-size: 17px;
    }

    .box p {
        border-right: unset;
        font-size: 12px;
    }

    .posts-expand {
        margin: unset;
    }

    div#comments.comments.v {
        width: 100%;
        padding-top: 50px;
    }
}

@media (min-width: 1200px) {
    .container .main-inner {
        width: 100%;
    }
}

.footer {
    margin-bottom: 50px;
    text-align: center;
}

/* for comment modules*/
.vwrap {
    margin: 0 auto; /* 居中 */
    width: 100%;
}

.vempty {
    margin: 0 auto; /* 居中 */
    width: 100%;
}

.vh {
    margin: 0 auto; /* 居中 */
    width: 100%;
}

.power {
    margin: 0 auto; /* 居中 */
    width: 100%;
}

.vinfo {
    margin: 0 auto; /* 居中 */
    width: 100%;
}

.vcard {
    margin: 0 auto; /* 居中 */
    width: 100%;
}

#page-nav
  clearfix()
  margin: block-margin auto
  background: #F2F2F2
  text-align: center
  color: color-grey
  overflow: hidden
  a, span
    padding: 10px 20px
    line-height: 1
    height: 2ex
  a
    color: color-grey
    text-decoration: none
    &:hover
      background: color-grey
      color: #222
  .prev
    float: center
  .next
    float: center
  .page-number
    display: inline-block
    @media mq-mobile
      display: none
  .current
    color: color-default
    font-weight: bold
  .space
    color: color-border

@import "_partial/header";
@import "_partial/post";
@import "_partial/archive";