<footer id="footer">
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> <a href="http://beian.miit.gov.cn" target="_blank"><%= config.icpno%></a>
      <br>
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a> Gallery Theme
    </div>
  </div>
</footer>