<footer id="footer">
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <%= __('Powered by') %> <a href="http://www.easyapple.net" target="_blank">EasyApple</a>
    </div>
  </div>
</footer>