
.main-box {
    margin-top: -1em;
    width: 100%;
    visibility: visible;
    overflow: auto;
    zoom: 1;
    background: #fff;
    color: #555;
}

.con-box {
    background: #fff;
    margin: 0 auto; /* 居中 */
    padding auto;
}

.sub-box1 {
    float: left;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    text-align: center;
    list-style: none;
    padding: 0;
    display: inline;

    .imgbox0 {
        margin-top: 0.2em;
        margin-left: 0.6em;
        margin-right: 0.6em;
        position: relative;
        padding: 0;
        width: auto;
        height: auto;
        overflow: hidden;
        background: #fff;
        color: #fff;
    }
}

.sub-box2 {
    float: left;
    width: 50%;
    height: auto;
    position: relative;
    overflow: hidden;
    text-align: center;
    list-style: none;
    padding: 0;
    display: inline;

    .imgbox0 {
        margin-top: 0.2em;
        margin-left: 0.6em;
        margin-right: 0.3em;
        position: relative;
        padding: 0;
        width: auto;
        height: auto;
        overflow: hidden;
        background: #fff;
        color: #fff;
    }

    .imgbox1 {
        margin-top: 0.2em;
        margin-left: 0.3em;
        margin-right: 0.6em;
        position: relative;
        padding: 0;
        width: auto;
        height: auto;
        overflow: hidden;
        background: #fff;
        color: #fff;
    }
}

.sub-box3 {
    float: left;
    width: 33.33%;
    height: auto;
    position: relative;
    overflow: hidden;
    text-align: center;
    list-style: none;
    padding: 0;
    display: inline;

    .imgbox0 {
        margin-top: 0.2em;
        margin-left: 0.6em;
        margin-right: 0.2em;
        position: relative;
        padding: 0;
        width: auto;
        height: auto;
        overflow: hidden;
        background: #fff;
        color: #fff;
    }

    .imgbox1 {
        margin-top: 0.2em;
        margin-left: 0.4em;
        margin-right: 0.4em;
        position: relative;
        padding: 0;
        width: auto;
        height: auto;
        overflow: hidden;
        background: #fff;
        color: #fff;
    }

    .imgbox2 {
        margin-top: 0.2em;
        margin-left: 0.2em;
        margin-right: 0.6em;
        position: relative;
        padding: 0;
        width: auto;
        height: auto;
        overflow: hidden;
        background: #fff;
        color: #fff;
    }
}

.box li {
    float: top;
    width: 100%;
    height: auto;
    /* height: 360px; */
    position: relative;
    overflow: hidden;
    text-align: center;
    list-style: none;
    padding: 0;
    display: inline;
}

.box li span {
    display: block;
    padding: 4% 7% 10% 7%;
    min-height: 80px;
    background: #fff;
    color: #555;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.box p {
    display: block;
    background: #fff;
    color: #555;
    font-size: 12px;
    font-family: 'SwisMedium';
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}

.box span strong {
    background: rgba(0,0,0,0.4);
    padding: 20px;
}

img.imgitem {
    position: relative;
    padding: 0;
    width: 100%;
    height: auto;
    background: #fff;
    color: #fff;
}

div#posts.posts-expand {
    border: unset;
    padding: unset;
    margin-bottom: 0.3em;
}

.posts-expand .post-body img {
    padding: 0px !important;
}

.posts-expand .post-title {
    margin: 0 auto; /* 居中 */
    width: 100%;
    text-align: center;
}

.gallery-title {
    margin-bottom: 0.25em;
    display: inline-block;
    vertical-align: middle;
    font: 1.8em/1.5em 'ChaletComprimeMilanSixty';
    text-shadow:#000 3px 4px 5px; /* 字体阴影 */
    background-position: center center !important;
    box-sizing: border-box;
    background-size: cover auto;
    /* background-size: 100% auto !important; */
    -webkit-box-sizing: border-box;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    color: #fff;
    width: 100%;
    text-align: center;
    border: unset;
    height: 8em;
    cursor: unset !important;
}

.btn-more-posts {
    margin-top: 0.25em;
    margin-left: 5%;
    width: 90%;
    border-color: #bcbcbc;
    border-top-style: dotted;
    border-left: unset;
    border-right: unset;
    border-bottom: unset;
    display: inline-block;
    vertical-align: middle;
    font: 1em/1em 'ChaletComprimeMilanSixty';
    background-size: 100% auto !important;
    background-color: #fff;
    color: #bcbcbc;
    text-align: center;
    height: 5em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-end-posts {
    margin-top: -0.25em;
    display: inline-block;
    vertical-align: middle;
    font: 1em/1em 'ChaletComprimeMilanSixty';
    background-size: 100% auto !important;
    background-color: #fff;
    border: unset;
    color: #bcbcbc;
    width: 100%;
    text-align: center;
    height: 5em;
}
